.footer {
    background-color: var(--brand-vert);
    padding: var(--space1x) var(--space2x) ;
}

.footer__logo {
    display:flex;
}

.footer__logo img {
    width: 30px;
    height: 30px;
}
.footer__logo>a {
    display: flex; 
    justify-content: flex-end;
    text-align: right; 
    color: white;
    text-decoration: none;
    margin-left: auto;
}

.footer__list {
    text-align: center;
    justify-content: flex-start;
    
}

.footer__list a {
    color: white; 
}

.footer__mail>a {
    color: white;
    text-decoration: none;
}

.footer__reseaux>ul {
    display: flex; 
    justify-content: flex-start;
}

.footer__mmi {
    width: 45px;
    height: 32px;  
    margin-left: auto; 
}

.footer__item {
    padding: 2px;
}

.footer__nom {
    color: var(--gray-white);
    text-align: center;
}

.menu__list {
    color: var(--gray-white);
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center; 
}

.footer__text {
    color: #1D2315;
    text-align: center;
}