.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    flex-shrink: 0;
    background: var(--brand-vert);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .3s ease-in-out;
    padding: 5px;
    z-index: 2;
}
.header__img {
    position: relative;
    margin-top: 45px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.header__menu-link {
    color: black;
    text-decoration: none;
    width: 40px;
    border: 0;
    background: transparent;
}

.header--atTop .header__search {
    filter: none;
  }
  
.header__end {
    display: flex;
   justify-content: space-between;
}

.header__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
