.carroussel.container {
  position: relative;
  z-index: 1;
}
.caroussel__text{
  display: flex;
  font-size: var(--text-1);
  font-weight: bold;
  text-align: center;
  justify-content: center;
}
.carroussel div>a {
  display: flex;
  text-transform: uppercase;
  color: #000;
  text-align: center;
  justify-content: center;
}

  .carroussel img {
    display: block;
    max-width: 85%;
    margin: 0 auto;
    height: auto;
  }
  
  .carrousel__parent-ecrans {
    display: flex;
    width: 100% ;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
  }
  
  .carrousel__ecran {
    position: relative;
    flex: none;
    width: 100%;
    box-sizing: border-box;
  }
  
  .carrousel__ecran figure {
    margin: 0;
  }

  
  .carrousel__btn {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    width: 1rem;
    height: 1rem;
    background: rgba(0,0,0,0.5);
    border-radius: 30%;
    border: none;
    display: grid;
    place-content: center;
    color: #fff;
    z-index: 1;
  }
  
  .carrousel__btn-avant {
    left: 10px;
  }
  
  .carrousel__btn-apres {
    right: 10px;
  }
 
  .caroussel__liste-liens {
    justify-content: center;
    display: flex; 
    justify-self: center;
    list-style: none ; 
    gap: 2rem; 
    align-items: center;
    margin-top: 20px; 
    transform: scale(0.5);
  }

  .caroussel__lien {
    color: #F5F7C3;
    border: 1px solid #fff; 
    padding: 0.5rem 1rem;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 5px; 
    cursor: pointer;
    background-color: #aaa; 
  }

  .carrousel {
    position: relative;
    width: 100%; 
    overflow: hidden;
    justify-content: center;
  }
  
  .carrousel__parent-ecrans {
    display: flex;
    width: 100%;
    transition: transform 0.3s ease; 
  }
  
  .carrousel__ecran {
    flex: none;
    width: 100%;
    scroll-snap-align: start; 
  }
  
  .caroussel__liste-liens a.actif {
    background-color: #000; 
  }

  .carrousel div {
    background: black;
  }
